/includes/vendor/*
/includes/config.php
/includes/composer.lock
/includes/composer.phar
/test/*
/doc/tmp/*
*.log

# PHPUnit test artifacts
/.phpunit.cache
/coverage
/.phpunit.result.cache

.vscode/

.idea/

.github/
