<style>
    body {
        background: url("/img/bg-1.jpg") bottom right no-repeat;
        background-size: cover;
    }

    .dark-side {
        body {
            background: url("/img/bg-2.jpg") bottom right no-repeat;
            background-size: cover;
        }
    }

    .formbox {
        inset: 0;
        margin: auto;
    }
</style>
<div class="box shadow-large-extra bg-glassmorphism fg-white bd-white formbox">
    <div class="h3 text-weight-7 border-bottom bd-white pb-2">{{lng['signup']}}</div>
    <div>
        {{lng['welcomne']}}
    </div>
    <form action="javascript:" class="mt-4 mb-2">
        <div class="form-group">
            <input type="password" name="password" data-role="input" data-label="{{lng['password']}}"
                placeholder="{{lng['password']}}" data-prepend="<span class='mif-lock'>" />
        </div>       
        <div class="form-group">
            <input type="password" name="newpassword" data-role="input" data-label="{{lng['newpassword']}}"
                placeholder="{{lng['newpassword']}}" data-prepend="<span class='mif-lock'>" />
            <input type="password" data-role="input" data-validate="compare=newpassword" placeholder="{{lng['confirmpassword']}}"
                data-prepend="<span class='mif-lock'>" class="mt-1" />
        </div>
        <div class="form-group" style="--checkbox-color: #fff">
            <label class=" d-flex flex-row gap-2">
                <input type="checkbox" data-role="checkbox" />
                {{lng['agree']}} <a href='#' class='fg-white'>{{lng['terms']}}</a>
            </label>
        </div>
        <div class="form-actions border-top border-bottom bd-white pt-6 pb-6 d-flex flex-center z-1">
            <button class="button success">{{lng['signup']}}</button>
            <div class="ml-auto">
                {{lng['haveaccount']}}? <a class="ml-1 fg-white" href="/account/login">{{lng['login']}}</a>
            </div>
        </div>        
    </form>
</div>
{{nframework['themeSwitcher']|raw}}