<style>
    body {
        background: url("/img/bg-1.jpg") bottom right no-repeat;
        background-size: cover;
    }

    .dark-side {
        body {
            background: url("/img/bg-2.jpg") bottom right no-repeat;
            background-size: cover;
        }
    }

    .formbox {
        inset: 0;
        margin: auto;
    }
</style>
<div class="box shadow-large-extra bg-glassmorphism fg-white bd-white formbox">
    <div class="h3 text-weight-7 border-bottom bd-white pb-2">{{lng['forgotpassword']}}</div>
    <div>
        {{lng['loginwelcome']}}
    </div>
    <form method="post" class="mt-4 mb-2">
        <div class="form-group">
            <input type="text" name="login[username]" data-role="input" data-label="{{lng['username']}}"
                placeholder="{{lng['usernameplaceholder']}}" data-prepend="<span class='mif-person'>" />
        </div>
        <div class="form-actions border-top border-bottom bd-white pt-6 pb-6 d-flex flex-center z-1">
            <button type="submit" class="button success">{{lng['resetpassword']}}</button>        
        </div>        
    </form>
    {% if msgError %}
    <div class="alert alert-danger">
        {{msgError}} 
    </div>
    {% endif %}
</div>
{{nframework['themeSwitcher']|raw}}