<style>
    body {
        background: url("/img/bg-1.jpg") bottom right no-repeat;
        background-size: cover;
    }

    .dark-side {
        body {
            background: url("/img/bg-2.jpg") bottom right no-repeat;
            background-size: cover;
        }
    }

    .formbox {
        inset: 0;
        margin: auto;
    }
</style>
<div class="box shadow-large-extra bg-glassmorphism fg-white bd-white formbox">
    <div class="h3 text-weight-7 border-bottom bd-white pb-2">{{lng['login']}}</div>
    <div>
        {{lng['loginwelcome']}}
    </div>
    <form method="post" class="mt-4 mb-2">
        <div class="form-group">
            <input type="text" name="login[username]" data-role="input" data-label="{{lng['username']}}"
                placeholder="{{lng['usernameplaceholder']}}" data-prepend="<span class='mif-person'>" />
        </div>
        <div class="form-group">
            <input type="password" name=login[password] data-role="input" data-label="{{lng['password']}}"
                placeholder="{{lng['passwordplaceholder']}}" data-prepend="<span class='mif-lock'>" />

        </div>
        <div class="form-group" style="--checkbox-color: #fff">
            <label class=" d-flex flex-row gap-2">
                <input type="checkbox" data-role="checkbox" />
                {{lng['rememberme']}} 
            </label>
        </div>
        <div class="form-actions border-top border-bottom bd-white pt-6 pb-6 d-flex flex-center z-1">
            <button type="submit" class="button success">{{lng['login']}}</button>
            <div class="ml-auto">
                {{lng['forgotpassword']}} <a class="ml-1 fg-white" href="/account/forgot">{{lng['resetit']}}</a>
                {% if config['canregister'] %}
                    {{lng['noaccount']}} <a class="ml-1 fg-white" href="/account/signup">{{lng['signup']}}</a>
                {% endif %}
            </div>
        </div>
        {% if config['canregister']  and (config['google_oauth_client_enable'] or config['facebook_oauth_client_enable'] or config['microsoft_oauth_client_enable'] or config['twitter_oauth_client_enable'] or config['github_oauth_client_enable']) %}
        <div class="d-flex flex-column flex-align-items-center">
            <div>{{lng['oruse']}}:</div>
            <div>
                {% if config['google_oauth_client_enable'] %}
                <a href="/login-google/oauth" class="button cycle">
                    <span class="mif-google"></span>
                </a>
                {% endif %}
                {% if config['facebook_oauth_client_enable'] %}
                <a href="/login-facebook/oauth" class="button cycle">
                    <span class="mif-facebook"></span>
                </a>
                {% endif %}
                {% if config['microsoft_oauth_client_enable'] %}
                <a href="/login-microsoft/oauth" class="button cycle">
                    <span class="mif-microsoft"></span>
                </a>
                {% endif %}
                {% if config['twitter_oauth_client_enable'] %}
                <a href="/login-twitter/oauth" class="button cycle">
                    <span class="mif-twitter"></span>
                </a>
                {% endif %}
                {% if config['github_oauth_client_enable'] %}
                <a href="/login-github/oauth" class="button cycle">
                    <span class="mif-github"></span>
                </a>
                {% endif %}
                </a>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{{nframework['themeSwitcher']|raw}}