<style>
    body {
        background: url("/img/bg-1.jpg") bottom right no-repeat;
        background-size: cover;
    }

    .dark-side {
        body {
            background: url("/img/bg-2.jpg") bottom right no-repeat;
            background-size: cover;
        }
    }

    .formbox {
        inset: 0;
        margin: auto;
    }

.code-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.code-input:focus {
    border-color: #0078D7;
    outline: none;
}

</style>
<div class="box shadow-large-extra bg-glassmorphism fg-white bd-white formbox">
    <div class="h3 text-weight-7 border-bottom bd-white pb-2">{{lng['twofa_info']}}</div>
    <div>
        {{lng['twofa_info']}}
    </div>
    <form action="/account/signup" method="POST" class="mt-4 mb-2">                
        <div class="form-group">            
            <input type="text" name="code1" maxlength="1" class="code-input" />
            <input type="text" name="code2" maxlength="1" class="code-input" />
            <input type="text" name="code3" maxlength="1" class="code-input" />
            <input type="text" name="code4" maxlength="1" class="code-input" />
            <input type="text" name="code5" maxlength="1" class="code-input" />
            <input type="text" name="code6" maxlength="1" class="code-input" />
            <input type="hidden" name="code" value="" />
        </div>
        {% if msgError %}
        <div class="mt-2">
            <div class="alert alert-danger">
                {{msgError}}
            </div>
        </div>
        {% endif %}
    </form>
</div>

<script>
document.querySelectorAll('.code-input').forEach((input, index, inputs) => {
    input.addEventListener('input type=[text]', () => {
        if (input.value.length === 1 && index < inputs.length - 1) {
            inputs[index + 1].focus();
        }else if ( index == inputs.length-1 ){
            input.blur(); // Optionally blur the last input
        
            // Update hidden input with concatenated code
            const code = Array.from(inputs).map(i => i.value).join('');
            document.querySelector('input[name="code"]').value = code;
            console.log
        }
    });
});
</script>

{{nframework['themeSwitcher']|raw}}